        @font-face {
            font-family: "dg7";
            src: url("./DSDIGI.woff") format("woff");
        }

        body {
            width: 100%;
            height: 100%;
            margin: 10px;
            padding: 25px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .clock-dial {
            border: 3px dashed black;
            background: black;
            border-radius: 20px;
            width: 200px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

        }
        .digits{
            color:white;
            font-size: 25px;
            font-family: "dg7";
            font-weight: bold


        }
